# Collection
There are 4 built-in data types in Python used to store collections of data.
* List
* Dictionary
* Tuple
* Set

## List
Lists are used to store multiple items in a single variable.

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())

['trek', 'cannondale', 'redline', 'specialized']
trek
Trek

List can contain any anything i.e. datatype, function, object, variables etc.

In [2]:
x = [1,2,3,4,5]
y = ['hi',1,3,x]
z = x + y
z

[1, 2, 3, 4, 5, 'hi', 1, 3, [1, 2, 3, 4, 5]]

### Access element in LIST

In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[1])
print(bicycles[-1])
print(bicycles[-2])
print(bicycles[0:2])

trek
cannondale
specialized
redline
['trek', 'cannondale']

### Modify element in LIST

In [4]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

### Add items

In [5]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

### Remove items

In [6]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'BMW']
print(motorcycles)
motorcycles.remove('yamaha')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'BMW']
['honda', 'suzuki', 'BMW']

In [7]:
motorcycles.pop(0)
print(motorcycles)

['suzuki', 'BMW']

In [8]:
del motorcycles[1]
print(motorcycles)

['suzuki']

## Dictionary
Dictionaries are used to store data values in key:value pairs.

### Creating dictionary

In [9]:
mydic = {} 
mydic['winn'] = '0618201998'
mydic['ricky'] = '0812312341'
print(mydic)

{'winn': '0618201998', 'ricky': '0812312341'}

In [10]:
number_dict = {1:"one",2:"two",3:"three"}
print(number_dict)

{1: 'one', 2: 'two', 3: 'three'}

### Adding information

In [11]:
mydic["arm"] = "4548885656"

In [12]:
mydic

{'winn': '0618201998', 'ricky': '0812312341', 'arm': '4548885656'}

### Create dictionary from list

In [13]:
a = [["winn",'0618201998'],["ricky",'0812312341']]
print(a)
b = dict(a)
print(b)

[['winn', '0618201998'], ['ricky', '0812312341']]
{'winn': '0618201998', 'ricky': '0812312341'}

In [14]:
name = ["winn","ricky"]
tel = ['0618201998','0812312341']
b = dict(zip(name,tel))
print(b)

{'winn': '0618201998', 'ricky': '0812312341'}

### Accessing elements

In [15]:
print(mydic)
mydic['winn']

{'winn': '0618201998', 'ricky': '0812312341', 'arm': '4548885656'}

'0618201998'

### Removing element

In [16]:
mydic = {'arm': '000000000',
         'ricky': '0812312341',
         'winn': '0618201998',
         'tao':'0811111111'}
print(mydic)
del mydic['tao']
print(mydic)

{'arm': '000000000', 'ricky': '0812312341', 'winn': '0618201998', 'tao': '0811111111'}
{'arm': '000000000', 'ricky': '0812312341', 'winn': '0618201998'}

In [17]:
mydic.pop('ricky')
print(mydic)

{'arm': '000000000', 'winn': '0618201998'}

### Extract keys and values

In [18]:
print(list(mydic.keys()))
print(list(mydic.values()))

['arm', 'winn']
['000000000', '0618201998']

### Dictionary inside a dictionary

In [19]:
winninfo = {'telephone':'0618201998','email':'vwinnv@gmail.com'}
kitimainfo = {'telephone':'0812314123','email':'kitima@gmail.com'}
nonginfo = {'telephone':'092123123123','email':'nong@gmail.com'}
mydic = {'winn':winninfo,'kitima':kitimainfo,'nong':nonginfo}
print(mydic)

{'winn': {'telephone': '0618201998', 'email': 'vwinnv@gmail.com'}, 'kitima': {'telephone': '0812314123', 'email': 'kitima@gmail.com'}, 'nong': {'telephone': '092123123123', 'email': 'nong@gmail.com'}}

In [20]:
print(mydic["winn"]["email"])
print(mydic['nong']['telephone'])

vwinnv@gmail.com
092123123123

### Storing data as list is not too convenient

In [21]:
mylistName = list(mydic.keys())
mylist =  [list(winninfo.values()), list(kitimainfo.values()), list(nonginfo.values())]
print(mylistName)
print(mylist)

['winn', 'kitima', 'nong']
[['0618201998', 'vwinnv@gmail.com'], ['0812314123', 'kitima@gmail.com'], ['092123123123', 'nong@gmail.com']]

In [31]:
#print(mydic["winn"]["email"])
print(mylist[0][1])

#print(mydic['nong']['telephone'])
print(mylist[2][0])

vwinnv@gmail.com
092123123123

# Tuple

A tuple is a collection which is ordered and unchangeable.

In [23]:
a = ("apple", "banana", "cherry")
print(a)

('apple', 'banana', 'cherry')

In [24]:
print(a[0])

apple

In [25]:
#This generates error.
#a[0] = "Lemon"

In [26]:
# One element tuple
a = ("apple",)

# Set
Sets are used to store multiple items in a single variable.

In [27]:
#Set does not contain duplicated value
a = {"apple", "banana", "cherry", "apple"}
print(a)

{'banana', 'cherry', 'apple'}

In [28]:
# Set does not support indexing
# print(a[0])

In [29]:
#Convert set into list
b = list(a)
print(b[0])

banana