# Variable (ตัวแปร)
เหมือนลังเก็บของ มีป้ายแปะที่ลังเป็นชื่อตัวแปร ส่วนของข้างในคือข้อมูล

## Numerical Variable (ตัวแปรตัวเลข)

In [ ]:
a = 1

In [ ]:
a

In [ ]:
a = 1 # ลังแปะป้ายชื่อ a ใส่ข้อมูลเป็นตัวเลข 1
b = 2 # ลังแปะป้ายชื่อ b ใส่ข้อมูลเป็นตัวเลข 2
c = a + b # ลังแปะป้ายชื่อ c ใส่ข้อมูลเป็นผลลัพธ์การจากการบวกกันของลัง a และลัง b ณ เวลาที่เอามาใส่
c

In [ ]:
c

ทุกครั้งที่เห็นเครื่องหมาย = คือการนำค่าจากทางขวามือ มาใส่ลังที่มีชื่อทางซ้ายมือเสมอ

In [ ]:
whos

## String Variable (ตัวแปรตัวอักษร)

สิ่งที่อยู่ใน `' '` หรือ `" " `จะนับเป็นตัวอักษรทั้งหมดแม้ว่าจะเป็นตัวเลขหรือเครื่องหมายก็ตาม

การใช้ `"` หรือ `'` ก็นับเป็น string เหมือนกัน ตัวภาษา python อนุญาตให้เราใช้ทั้งสองแบบ เผื่อในกรณีดังนี้

1.   `text = "I'm fine. Thank you."`
2.   `text = 'This is an "important" part.'`

In [ ]:
a = 'hi, '
b = 'how are you?'
c = a + b # การ + ของ string คือการนำมาต่อกัน
c

In [ ]:
name = 'Winn'
money = '10 USD'
sentence = name + ' has ' + money + '.'
sentence

# Data Types (ประเภทตัวแปร)

## Number

In [ ]:
a = 4 # integer จำนวนเต็ม
b = 2.0 # float จำนวนทศนิยม 
print(a) 
print(b)

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
c = a + b
type(c)

<i>float ในภาษาอื่นอาจแบ่งเป็น single และ double เพื่อระบุพื้นที่ใน RAM ในการเก็บข้อมูล แต่ใน python จะใช้ double เสมอ ยกเว้นจะใช้ฟังก์ชันพิเศษจาก library numpy `numpy.float32`</i>

### Number operations

In [ ]:
print(a+b)
print(a*b)
print(a/b)
print(a**b)
print(a**(1/b))

**ระวัง** กรณีที่ใช้ python version 2 การหาร int กับ int จะได้ผลเป็น int

In [ ]:
d = 5
g = 2
d/g # ได้ผลลัพธ์เป็น 2.5 แต่ python version 2 ได้เป็น 2

In [ ]:
d%g # หารเอาเศษ

In [ ]:
5%2

## String

### String operations

In [ ]:
print(name + ' has ' + money) # ใช้การ + เพื่อนำ string มาต่อกัน (concatenate)

In [ ]:
#print(name + a) # ตัวแปรคนละประเภทไม่สามารถนำมา + กันได้

In [ ]:
print(name * 2) # ตัวแปร string สามารถทำซ้ำได้โดยการ * กับจำนวนครั้งที่ต้องการทำซ้ำ

In [ ]:
print('I want you.\nI need you.\tI love you.') # ตัวอักษรพิเศษ \n แทนการขึ้นบรรทัดใหม่ \t แทนการ tab

### String-Number Transformation

ใช้คำสั่ง `str(ตัวแปร)`, `int(ตัวแปร)`, `float(ตัวแปร)` เพื่อเปลี่ยนประเภทตัวแปรเป็น string, integer และ float ตามลำดับ

In [ ]:
print(a)
print(type(a))
print(str(a)) # a = '4'
print(type(str(a)))

In [ ]:
a = 4
print(type(a))
c = str(a)
print(type(c))

In [ ]:
p = 3.141592
print(p + 5.26) # float + float
print(str(p) + str(5.26)) # str + str
print(int(p))

### Printing with string and number

#### 1) `,`

In [ ]:
print('There are',a,'cats in this room.')
# ให้ผลเหมือนกันกับ
print('There are '+str(a)+' cats in this room.')

#### 2) f-string (ใช้ได้ตั้งแต่ python 3.6 เป็นต้นไป)

In [ ]:
print(f"Approximated Pi value is {p}")
print(f"Approximated Pi value is {p:.4f}")
print(f"My name is {name}. I've been here for {a} years")
print(f"My name is {name}. I've been here for {a:.5f} years") # a ไม่ต้องแปลงเป็น float ก่อนก็ได้

### Access character & substrings

ตัวแปร string ที่จริงแล้วคือการนำลังใส่ข้อมูลตัวอักษรมาผูกเรียงต่อกัน

In [ ]:
name = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[-1])
print(name[-2])

In [ ]:
mystr = '123456789'
print(mystr[0:5]) # เลือกตั้งแต่ตัวที่ 1 ถึงตัวที่ 6 (ตัดตัวสุดท้าย)
print(mystr[:5])  # เลือกตั้งแต่ตัวแรก ถึงตัวที่ 6 (ตัดตัวสุดท้าย)
print(mystr[1:8]) # เลือกตั้งแต่ตัวที่ 2 ถึงตัวที่ 9 (ตัดตัวสุดท้าย)
print(mystr[-6:-1]) # เลือกตั้งแต่ตัวที่ 6 นับจากสุดท้าย ถึงตัวสุดท้าย (ตัดตัวสุดท้าย)
print(mystr[-4:]) # เลือกตั้งแต่ตัวที่ 4 นับจากสุดท้าย (ไม่ตัดตัวสุดท้าย)

In [ ]:
mystr = 'Welcome to my class'

In [ ]:
mystr.split() # แยกข้อความออกจากกันด้วยสิ่งที่อยู่ในวงเล็บของ split หากไม่ใส่จะใช้เว้นวรรค

In [ ]:
mystr.split('to') # หากใส่ จะหาตัวที่ตรงกันแล้วใช้เป็นตัวแยกข้อความ

In [ ]:
mystr.lower() # ทำให้เป็นตัวเล็ก

In [ ]:
mystr.strip() # ตัดเว้นวรรคหน้า-หลัง

## Boolean and Expressions

In [ ]:
x = 5 #Assignment
x == 5 #เป็นคำถาม

In [ ]:
x = 5
y = 5
print(x == y)
print(x != y)
print(x < y)
print(x <=y)
print(x > y)
print(x >= y)

In [ ]:
z = True
h = False
print(z)
print(h)